html, body {
    height: 100%;
    overflow: scroll;
}
.footer a {
    color: white !important;
}
.footer {
    bottom: 0;
    margin: 0 auto !important;
    text-align: center !important;
    width: 100% !important;
    height: 40px;
    position: absolute;
    background-color: #004E89;
}
#mainFormDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #004E89;
    padding-bottom: 40px;
}
/* .btn {
    width: 273px;
    height: 55px;
    background: #383F51;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding-top: 12px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 40px;
    margin: 40px;
} */
.btn:hover {
    background-color: #DDDBF1;
    border-color: #383F51;
}
button:hover {
    background-color: #DDDBF1;
    border-color: #383F51;
}
#bt2 {
    display: none;
}
#in1 {
    display: none;
}
.subspace {
    display: none;
}
.col-xs-2{
    margin-left: 3%;
}
.itemDisplay{
    height: 100vh;
}
.innerItems{
    background-color: lightgrey;
    height: 100%;
    overflow:scroll;
    border: 1px solid #004E89;
}
#itemDiv{
    display: none;
}
.itemA{
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    color: black;
}
.col-md-3, .col-sm-6{
    overflow:scroll;
}


.card {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    /* overflow-x: scroll; */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
 }

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #888888;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
 }

.card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: #004E89;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .back_button {
    margin-top: 10px;
    width: 80px;
    height: 25px;
    background: #383F51;
    border-radius: 20px;
    font-size: 16px;
    color: white;
  }
