#search_box{
    padding:3px;
    height: 90%;
    width:50%;
    text-align: center;
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
    margin:0 auto;
    border-radius:30px;
    border:1px solid #dcdcdc;
    display: block;
}

#search_box:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

#search_box:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}

.search_button{
    border: none;
    background: #383F51;
    color: white;
    width: 25%;
    height:5%;
    font-size:15px;
    margin:10px;
    border-radius:4px;
    outline:none;

}

h2{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #004E89;
    padding-bottom: 40px;
}

#searchword{
    text-align: center;
}

.search_word{
    font-weight: bold;
}

.results{
    text-align: center;
}
