.container-fluid {
    margin-bottom: 0px;
}
p {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: rgba(0, 78, 137, 0.8);
}
h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #004E89;
}
.btn {
    width: 238px;
    height: 82px;
    background: #383F51;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding-top: 27px;
    
}
.btn:hover {
    
    background-color: #DDDBF1;
    border-color: #383F51;
 
}
.col-md-3 {
    margin-top: 208px;
}
.login {
    width: 238px;
    height: 82px;
    background: #383F51;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 27px;
}
.create {
    width: 238px;
    height: 82px;
    background: #383F51;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 27px;
}
.user {
    width: 50px;
    height: 50px;
}
.name {
    font-size: 20px;
}
.navbar-nav li a {
    font-size: 20px;
}
a {
    color: white !important;
}
.row {
    margin-left: 110px;
}
.bg {
    display: block;
    max-width: 100%;
    height: auto;
}
