<!DOCTYPE html>
<html lang="en">
<head>
  <title>Space Design!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/design.css">
  <link rel="stylesheet" href="../static/navigation.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/common.js"></script>
  <script>
    addSpace = function(){
        let p = prompt("Please enter the spaces name");
        if (p != "" && p != null) {
            let n = p.split(" ");
            let newSpace = document.createElement("button");
            newSpace.setAttribute('class','btn');
            newSpace.setAttribute('name',n[0]);
            newSpace.setAttribute('ondblclick',"openSpace(this.name)") 
            newSpace.innerHTML = p;
            document.getElementById("parentSpace").appendChild(newSpace);
            //THIS IS WHERE THE POST REQUEST WILL GO TO ADD THE SPACE TO THE DATABASE
        }
        else if (p == null) {}
        else {
            let a = alert("Space name can't be empty try again");
            addSpace();
        }
    }
    addSubSpace = function(){
        let p = prompt("Please enter the subspaces name");
        if (p != "" && p != null) {
            let n = p.split(" ");
            let newSubSpace = document.createElement("button");
            newSubSpace.setAttribute('class','btn');
            newSubSpace.setAttribute('name',n[0]);
            newSubSpace.setAttribute('ondblclick',"openSubSpace(this.name)") 
            newSubSpace.innerHTML = p;
            document.getElementById("parentSpace").appendChild(newSubSpace);
            //THIS IS WHERE THE POST REQUEST WILL GO TO ADD THE ITEM TO THE DATABASE
            //CHECK IF THIS SUBSPACE HAS ALREADY BEEN CREATED
        }
        else if (p == null) {}
        else {
            let a = alert("Item name can't be empty try again");
            addSpace();
        }
    }
    addItem = function(){
        //THIS IS WHERE THE CALL TO THE LOAD ITEM PAGE WILL BE
    }
    openSpace = function(spaceName){
        //THIS IS WHERE THE SUBSPACE GET REQUEST WILL GO ONCE A SPACE IS CLICKED AND A SPACE IS OPENED TO DISPLAY ALL THE SUBSPACES
	    // window.location.href = "http://139.144.54.93:5000/design?space_id=" + spaceName;
        // CHANGE THE H2 TAG NAMED headerTag TO WHATEVER THE SPACE NAME IS
    }
    openSubSpace = function(){
        //THIS IS WHERE THE REQUEST TO GET ALL THE ITEMS AND DISPLAY THEM WHEN A SUBSPACE IS CLICKED WILL GO
        let itemDiv = document.getElementById("itemDiv");
        itemDiv.style.display = "block";
    }
    openItems = function(itemName){
        //THIS IS WHERE THE REQUEST TO THE ITEM VIEW PAGE WILL BE HANDLED ONCE AN ITEM IS CLICKED
        // window.location.href = "http://139.144.54.93:5000/details?item_id=" + itemName;
    }
    deleteElement = function(){
        //HANDLE ELEMENT DELETION
    }
    renameItem = function(){
        //HANDLE THE RENAMING OF ELEMENTS
    }
  </script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" id="custom-nav" style="margin-bottom: 0; background: #004E89;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand name" href="/home">Personal Inventory System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/design">Space Design</a></li>
        <li><a href="/load">Load Item</a></li>
        <li><a href="/find">Find Item</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" id="mainFormDiv"> <!-- Populate this with the subspaces and spaces -->
    <h2 name="headerTag">{{ space_name }}</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
</div>
<h1>{{ current_user.get_id() }}</h1>

<section class="basic-grid">
    {% for key, value in subspaces.items() %}
        <div class="card">
            <a href="http://127.0.0.1:5000/design?space_id={{ value }}"><img src="../static/images/roomicon.png" class="card-image" alt="Room"><p><br>{{ key }}</p></a>
        </div>
    {% endfor %}
</section>

<div class="container-fluid itemDisplay">
    <h4>Items</h4>
        <div class="innerItems">
        <div class="basic-grid"> <!-- Populate this with the items --!>
            {% if itemss.items() == NULL %}
                <h5>No Items</h5>
            {% endif %}
            {% for key, value in itemss.items() %}
                <div class="item-card"><a href="http://127.0.0.1:5000/details?item_id={{ key }}">{{ value }}</a></div>
            {% endfor %}
        </div>
        </div>
    </div>


<div class="footer"> <!--HOW DO WE WANT THESE BUTTONS TO COME AND GO BASED ON WHAT THE PAGE IS-->
    <div class="col-xs-2">
        <a onclick="addSpace()">Add Space</a>
    </div>
    <div class="col-xs-2">
        <a onclick="addSubSpace()">Add Subspace</a>
    </div>
    <div class="col-xs-2">
        <a onclick="addItem()">Add Item</a>
    </div>
    <div class="col-xs-2">
        <a onclick="renameItem()">Rename Item</a>
    </div>
    <div class="col-xs-2">
        <a onclick="deleteElement()">Delete</a>
    </div>
</div>
</body>
</html>