<!DOCTYPE html>
<html lang="en">
<head>
  <title>Space Design!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/design.css">
  <link rel="stylesheet" href="../static/navigation.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/common.js"></script>
  <script>
    deleteElement = function(){
        //HANDLE ELEMENT DELETION
    }
    renameItem = function(){
        //HANDLE THE RENAMING OF ELEMENTS
    }
    function openAddForm() {
        document.getElementById("myForm").style.display = "block";
    }
    function openDeleteForm() {
        document.getElementById("deleteForm").style.display = "block";
    }
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("deleteForm").style.display = "none";
    }
  </script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" id="custom-nav" style="margin-bottom: 0; background: #004E89;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand name" href="/home">Personal Inventory System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/design">Space Design</a></li>
        <li><a href="/load">Load Item</a></li>
        <li><a href="/find">Find Item</a></li>
        <li class="dropdown show">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="glyphicon glyphicon-user"></span></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% if current_user.is_authenticated %}
                <a class="dropdown-item" href="/login">Login</a><br>
                <a class="dropdown-item" href="/createAccount">Register</a><br>
              {% else %}
                <a class="dropdown-item" href="/logout">Logout</a>
              {% endif %}
            </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" id="mainFormDiv"> <!-- Populate this with the subspaces and spaces -->
    <h2 name="headerTag">{{ space_name }}</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
</div>
<h1>{{ current_user.get_id() }}</h1>

<div class="container-fluid">
    <h4>Spaces</h4>
    <section class="basic-grid">
        {% for key, value in subspaces.items() %}
            <div class="card">
                <a href="/design?space_id={{ value }}"><img src="../static/images/roomicon.png" class="card-image" alt="Room"><p><br>{{ key }}</p></a>
            </div>
        {% endfor %}
    </section>
</div>

<hr/>

<div class="container-fluid itemDisplay">
    <h4>Items</h4>
    <section class="basic-grid"> <!-- Populate this with the items -->
        {% if itemss.items() == NULL %}
            <h5>No Items</h5>
        {% endif %}
        {% for key, value in items.items() %}
            <div class="card"><a href="/details?item_id={{ key }}">{{ value }}</a></div>
        {% endfor %}
    </section>
</div>

    <div class="form-popup" id="myForm">
        <form action="/design" method="post" class="form-container">
          <h1>Add Space</h1>

          <label for="parentSpaceName"><b>Parent Space Name (Put N/A if you are in the default space)</b></label>
          <input type="text" placeholder="Enter Parent Space Name" name="parentSpaceName" required>

          <label for="spaceName"><b>Space Name</b></label>
          <input type="text" placeholder="Enter Space Name" name="spaceName" required>
      
          <button type="submit" class="btn">Save</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <div class="form-popup" id="deleteForm">
        <form action="/design" method="post" class="form-container">
            <h1>Delete Item/Space</h1>
            <label for="choice"><b>Selecte One</b></label>
            <select name="choice">
                <option value="item">Item</option>
                <option value="space">Space</option>
            </select>
            
            <label for="spaceName"><b>Space/Item Name</b></label>
            <input type="text" placeholder="Enter Space/Item Name" name="spaceName" required>
        
            <button type="submit" class="btn">Save</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

<div class="footer"> <!--HOW DO WE WANT THESE BUTTONS TO COME AND GO BASED ON WHAT THE PAGE IS-->
    <div class="col-xs-4">
        <a onclick="openAddForm()">Add Space</a>
    </div>
    <div class="col-xs-4">
        <a href="/load">Add Item</a>
    </div>
    <div class="col-xs-4">
        <a onclick="openDeleteForm()">Delete</a>
    </div>
</div>
</body>
</html>