{% extends "navigation.html" %}
{% block title %}Find Items{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="../static/finditems.css">
{% endblock %}

{% block customJS %}
<script type="text/javascript">
    $(function() {
        $(".search_button").click(function() {
            var search_word = $("search_box").val();
            var dataString = $("search_word=") + search_word
            if(search_word==''){
            }else{
                $.ajax({
                    type: "POST",
                    url: "/itemSearch",
                    data: dataString,
                    cache: false,
                    beforeSend: function (html){
                        document.getElementById("insert_search").innerHTML = '';
                        $("#flash").show();
                        $("#searchword").show();
                        $(".searchword").html(search_word);
                    },
                    success: function (html){
                        $("#insert_search").show();
                        $("#insert_search").append(html.data);
                        $("#flash").hide();
                    }
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<h2>Find Items</h2>


    <form method = "POST" action = "/itemSearch" align="center">
        <input type="text" name="search" id="search_box" class="search_box">
        <input type="submit" value="Search" class="search_button">
    </form>

    {% if items or spaces %}
    <div id="searchword">Search results for <span class="search_word">{{ search_word }}</span></div>
    <div id="flash"></div>

        <div class="results">
            <h3>Items</h3>
            {% for key, value in items.items() %}
             <a href="/details?item_id={{ key }}"> {{ value }} </a><br>
            {% endfor %}
            <br>
            <h3>Spaces</h3>
            {% for key, value in spaces.items() %}
               <a href="/design?space_id={{ key }}">{{ value }}</a><br>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
