<!DOCTYPE html>
<html lang="en">
<head>
  <title>Personal Inventory System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/HomePageStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0px; background: #004E89;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand name" href="#">Inventory Management App</a>
    </div>
    <ul class="nav navbar-nav navbar-right ">
      <li><a href="/design">Space Design</a></li>
      <li><a href="/load">Load Item</a></li>
      <li><a href="/find">Find Item</a></li>
      <li><a href="#"><img src="../static/images/userimg.png" class="user"></a></li>
    </ul>
  </div>
</nav>

<img src="../static/images/homepagepic.png" class="img-fluid bg center-block" alt="Responsive image">

<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h3>Personal inventory system at your fingertips that keeps your space organized</h3>
        <p>For those who like to squirrel things away into nooks and crannies, those that may be into hobbies that require keeping track of many pieces and parts, or even someone that just plainly likes to be neat and tidy. This application will enable you to take control of your clutter, organize it, and keep tabs on it as you retrieve and use it. The Personal Inventory system allows you to digitize your space into containers, load the items you want to store into those containers, and then access those items for use or informational purposes. Take the guesswork out of trying to decide whether an item needs to be replenished, instead consult the information stored in your digital containers.  </p>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="/login" class="btn login" role="button">Login</a>
        <a href="/createAccount" class="btn create" role="button">Create Account</a>
      </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("ul.navbar-nav > li").click(function (e) {
         $("ul.navbar-nav > li").removeClass("active");
         $(this).addClass("active");
          });
      });
  </script>
</body>
</html>
