{% extends "navigation.html"%}

{% block title %}Tabs{% endblock %}


{% block customCSS %}
<link rel="stylesheet" href="../static/HomePageStyle.css">
{% endblock %}

{% block content %}
<img src="../static/images/homepagepic.png" class="img-fluid bg center-block" alt="Responsive image">

<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h3>Personal inventory system at your fingertips</h3>
        <br>
        <p class="vLine">For those who like to squirrel things away into nooks and crannies, those that may be into hobbies that require keeping track of many pieces and parts, or even someone that just plainly likes to be neat and tidy.</p>
        <br>
        <p class="vLine">Tabs will enable you to take control of your clutter, organize it, and keep tabs on it as you retrieve and use it.</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="/login" class="btn login" role="button" id="login">Login</a>   
        <a href="/createAccount" class="btn create" role="button" id="register">Create Account</a>
      </div>
    </div>
</div>
{% endblock %}
