<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class = "navBar">
            <!--<img src="{{ url_for('static', filename='images/6329.jpg')}}" alt="logo" class="navLogo" />-->
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/createAccount">Create Account</a></li>
                    <li><a href="/design">Design</a></li>
                    <li><a href="/load">Load Items</a></li>
                    <li><a href="/find">Find an Item</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Welcome to the Home Inventory Management System</h1>
    {% if home == True %}<h2>This is the home page</h2>{% endif %}

</body>
</html>