{% extends "navigation.html" %}

{% block title %}Item Details{% endblock %}

{% block customCSS %}
  <link rel="stylesheet" href="../static/details.css">
{% endblock %}

{% block content %}
      <div class="container mainc"> <!-- so essentially we need to make the navbar the same and changing the style of this changes the navbar style on this page once we do the jinja templates though that might go away or just change the class names or something-->
        <h2 name="headerTag">{{ item_name }}</h2>
        <h3 name="subHeaderTag">{{ space_name }}</h2>
            <div class="row">
                <div class="col-md-6" >
                    <div id="rowDiv">
                        <div id="labelAlign">
                            <label for="quantity">Quantity</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="100" value={{item_quantity}} readonly> <!-- not sure if the value is right-->
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="col-md-6" >
                    <div id="rowDiv">
                        <div id="labelAlign">
                            <label for="consumable">Consumable</label> <!-- what is the item_consumable going to be it might not be 0-->
                            {% if item_consumable == 0 %}
                            <input type="checkbox" id="consumable" name="consumable" value="yes" onclick="return false;" checked="true">
                            {% else %}  
                            <input type="checkbox" id="consumable" name="consumable" value="yes" onclick="return false;">
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div id="descriptionDiv" class="col-md-6">
                    <div id="desLabelAlign">
                        <label for="description" id="descriptionLabel">Description</label>
                    </div>
                    <div id="textBox">
                        <textarea name="description" readonly>
                            {{ item_description }}
                        </textarea><br>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="image">
                        <div id="imageLabel">
                            {% if item_image == "" %}
                            <label for="insertPic">Image</label><br>
                            {% else %}
                            <img src="{{item_image}}" alt="No Image">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
      </div>

{% endblock %}
